<a href="https://colab.research.google.com/github/Bennybeams/DataExplorationPython/blob/main/Data_Exploration_Exercices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KAGGLE

In [ ]:
!pip install opendatasets

In [ ]:
import opendatasets as od
import pandas as pd

dataset_url = 'https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata/download?datasetVersionNumber=1'
od.download(dataset_url)
df=pd.read_csv('/content/airbnbopendata/Airbnb_Open_Data.csv')
df.head()

# NUMPY

In [ ]:
import numpy as np
x = np.array([1, 1, 2, 2, 3, 3, 1, 1, 1, 1, 1, 1])
print(x)
print(x.shape)

In [ ]:
x = x.reshape(4,3)
print(x)
print(x.shape)

In [ ]:
x = x.reshape(2,2,3)
print(x)
print(x.shape)

In [ ]:
print(x[0])

In [ ]:
print(x[0,0])

In [ ]:
np.zeros(2)

In [ ]:
np.ones(2)

In [ ]:
np.ones(3,int)

In [ ]:
np.empty(5)

In [ ]:
np.arange(4)

In [ ]:
np.arange(2, 9, 2)

In [ ]:
np.empty([3,2])

In [ ]:
a = np.arange(6)
a = a.reshape(2,3)
print(a)
a[0,2] = 0
a[(a.shape[0]-1),(a.shape[1]-1)] = np.sum(a)
print(a)

In [ ]:
m = np.arange(16)
m = m.reshape(4,4)
m

In [ ]:
np.triu(m)

In [ ]:
np.tril(m)

In [ ]:
np.triu(m,1)

In [ ]:
np.triu(m,-1)

In [ ]:
x = np.arange(6)
x = x.reshape((2, 3))
x

In [ ]:
np.zeros_like(x)

In [ ]:
np.ones_like(x)

In [ ]:
np.full_like(x,2)

In [ ]:
np.full_like(x,2,float)

In [ ]:
a = np.arange(6)
a = a.reshape(2,3)
print("Matrice 1")
print(a)
a[0,2] = 0
print("Matrice 2")
print(a)
a[(a.shape[0]-1),(a.shape[1]-1)] = np.sum(a)
print("Matrice 3")
print(a)

# PANDAS

In [ ]:
import numpy as np
import pandas as pd
ar = np.array([[1.1, 2, 3.3, 4], [2.7, 10, 5.4, 7], [5.3, 9, 1.5, 15]])
print("Array:")
print(ar)
df = pd.DataFrame(ar, 
                  index = ['a1', 'a2', 'a3'], 
                  columns = ['A', 'B', 'C', 'D'])
print("Dataframe:")
df

In [ ]:
ar[0,0] = 23
df

In [ ]:
dic = {'Nom': ['Marcel', 'Eugénie', 'Léon'], 
       'Age': [56, 32, 25], 
       'Taille': [182, 167, 172], 
       'Poids': [79, 58, 62]}
df1 = pd.DataFrame(dic)
df1

In [ ]:
df2 = pd.DataFrame(columns = ['Nom', 'Prénom'])
df2

In [ ]:
df2 = pd.DataFrame(columns = ['Nom', 'Prénom'],
                  index = ['Employé 1','Employé 2'])
df2

In [ ]:
df1.info()

In [ ]:
df1.head(2)

In [ ]:
df1.tail(2)

In [ ]:
df1.columns

In [ ]:
df2.index

In [ ]:
df1.describe(include='all')

In [ ]:
dataset_url = ( 'https://www.kaggle.com/'
                'datasets/himanshunakrani/'
                'student-study-hours/download?datasetVersionNumber=1')
od.download(dataset_url, force=True)
df3 = pd.read_csv('./student-study-hours/score.csv')
df3.head()

In [ ]:
df3.corr()

In [ ]:
dataset_url = ( 'https://raw.githubusercontent.com/'
                'fivethirtyeight/data/master/'
                'college-majors/recent-grads.csv')
df4 = pd.read_csv(dataset_url)
df4.head(10)

In [ ]:
df4.isnull().sum()

In [ ]:
df4.dtypes

In [ ]:
df4.iloc[:,0:2]=df4.iloc[:,0:2].astype("object")
df4.dtypes

In [ ]:
df4.loc[df4['Major_category'] == 'Engineering', 'Total'].sum()

# MATPLOTLIB

In [ ]:
import matplotlib
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

x = np.array([0, 6])
y = np.array([0, 250])

plt.plot(x, y)
plt.show()

In [ ]:
plt.plot(x, y, 'o')
plt.show()

In [ ]:
x = np.array([1, 2, 6, 8])
y = np.array([3, 8, 1, 10])
plt.plot(x, y)
plt.show()

In [ ]:
y = np.array([3, 8, 1, 10])
plt.plot(y)
plt.show()

In [ ]:
x = np.array(["A", "B", "C", "D"])
y = np.array([3, 8, 1, 10])

plt.bar(x,y)
plt.show()

In [ ]:
x = df4['Major_category']
y = df4['Total']

matplotlib.rcParams['font.size'] = 16
matplotlib.rcParams['figure.figsize'] = (20, 5)
plt.xticks(rotation = 90)
plt.bar(x,y)
plt.show()